:root {
  --color-primary: #212529;
  --color-secondary: #6c757d;
  --color-body-bg: #ffffff;
  --section-spacing: 4rem;
  --accent-color: #ffc43f;
  --dark-color: #222222;
  --light-dark-color: #727272;
  --light-color: #fff;
  --grey-color: #dbdbdb;
  --light-grey-color: #fafafa;
  --primary-color: #6995b1;
  --light-primary-color: #eef1f3;
  --body-font: 'Open Sans', sans-serif;
  --heading-font: 'Nunito', sans-serif;
}
